/*TEXT COLORS*/
.text-white{
    color: white;
}
.text-skyblue{
    color: #7FADFF;
}
.text-gray{
    color: gray;
}
/*SECTION1*/
.bg-image{
    background-image: url(../image/large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron{
    background-color: transparent;
}
.tittle{
    padding: 11rem 18rem 2rem;
}
/*SECTION2*/
.icon{
    font-size: 2.5rem;
}